body{
    margin: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #31271f;
}
#nav {
    background-color: #ee4e30;
    height: 80px;
}
#minutes {
    height: 40px;
    padding: 0 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ee4e30;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}
#minutes::-webkit-outer-spin-button,
      #minutes::-webkit-inner-spin-button {
        display: none;
}

.timer {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.timer.timer-done {
    animation: none;
    -webkit-animation: none;
}
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
}

.timer-btns{
    height: 35px;
    margin-top: 10px;
    width: 80px;
    padding: 4px;
    border-radius: 20px;
    border: none;
    background-color: #ee4e30;
    color: white;
}
.timer-btns:hover{
    background-color: #ef705a;
    cursor: pointer;
}

.timer-container{
    min-height: 80vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    font-size: 100px;
}